#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.login-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.welcome-text {
  text-align: center; /* Centra el texto */
  margin-bottom: 20px;
}

.welcome-text h2 {
  font-size: 1.8rem; /* Tamaño del título */
  font-weight: bold; /* Letras gruesas */
  color: #2c3e50; /* Color del título */
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 1.2rem; /* Tamaño del párrafo */
  color: #7f8c8d; /* Color del texto del párrafo */
}

ion-button {
  --border-radius: 12px; /* Bordes redondeados */
  --background: linear-gradient(45deg, #1abc9c, #16a085); /* Degradado para el botón */
  --color: white; /* Color de texto */
  font-size: 1.1rem; /* Tamaño de letra del botón */
  text-transform: uppercase; /* Letras en mayúsculas */
  padding: 12px;
}
