<ion-header>
  <ion-toolbar>
    <ion-title>Libros</ion-title>
    <ion-searchbar placeholder="Buscar por título o autor" (ionInput)="searchBooks($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-thumbnail slot="start">
        <img *ngIf="book.cover_i" [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'" alt="Cover" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <h3 *ngIf="book.author_name">Por {{ book.author_name.join(', ') }}</h3>
        <p *ngIf="book.first_publish_year">Publicado en {{ book.first_publish_year }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <!-- Botón para agregar a lista -->
        <ion-button fill="clear" color="success" (click)="addBookToList(book)">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Si no hay libros para mostrar -->
  <ion-text *ngIf="!books.length" color="medium">
    <p class="ion-padding">No se encontraron libros. Prueba otra búsqueda.</p>
  </ion-text>
</ion-content>
