<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por título o autor" (ionInput)="searchBooks($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-thumbnail slot="start">
        <img *ngIf="book.imageUrl" [src]="getSanitizedUrl(book.imageUrl)" alt="Cover" />
      </ion-thumbnail>      
      <ion-label>
        <h2 class="book-title">{{ book.title }}</h2>
        <h3 class="book-author" *ngIf="book.author">Por {{ book.author }}</h3>
        <p class="book-description" *ngIf="book.description">{{ book.description }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="success" (click)="addBookToList(book)">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!books.length" color="medium">
    <p class="ion-padding">No se encontraron libros. Prueba otra búsqueda.</p>
  </ion-text>
</ion-content>
