<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Citas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para capturar imagen -->
  <div class="ion-padding">
    <ion-button expand="block" shape="round" fill="solid" color="secondary" (click)="captureImage()">
      <ion-icon name="camera-outline"></ion-icon>
      Capturar Imagen
    </ion-button>
  </div>

  <!-- Editar el texto extraído directamente -->
  <div *ngIf="extractedText" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Texto Extraído</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea [(ngModel)]="extractedText" auto-grow></ion-textarea>
      </ion-card-content>
    </ion-card>

    <!-- Botón para guardar la cita -->
    <ion-button expand="block" shape="round" fill="solid" color="primary" (click)="saveQuote(extractedText)">
      <ion-icon name="bookmark-outline"></ion-icon>
      Guardar Cita
    </ion-button>
  </div>

  <!-- Lista de citas guardadas -->
  <ion-list *ngIf="quotes.length > 0" class="ion-padding">
    <ion-list-header>
      <ion-label>Citas Guardadas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let quote of quotes" lines="full">
      <ion-textarea *ngIf="quote.isEditing" [(ngModel)]="quote.text" auto-grow (blur)="updateQuote(quote)"></ion-textarea>
      <ion-label *ngIf="!quote.isEditing">{{ quote.text }}</ion-label>

      <!-- Botón para alternar entre editar/visualizar -->
      <ion-button fill="clear" color="primary" (click)="toggleEditQuote(quote)">
        <ion-icon slot="icon-only" [name]="quote.isEditing ? 'checkmark-outline' : 'pencil-outline'"></ion-icon>
      </ion-button>

      <!-- Botón para eliminar cita -->
      <ion-button fill="clear" color="danger" (click)="confirmDeleteQuote(quote.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
