<ion-header>
  <ion-toolbar>
    <ion-title>Mis Listas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refreshLists()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="createList()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let list of lists" button (click)="openListDetails(list.id)">
      <ion-label>
        <h2>{{ list.name }}</h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" fill="clear" (click)="deleteList(list.id); $event.stopPropagation()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
