<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="image-container">
    <img src="assets/images/silly-cat.gif" alt="Avatar" class="login-image">
  </div>

  <div class="welcome-text">
    <h2>Bienvenido/a, {{username}}!</h2>
    <p>Gracias por iniciar sesión</p>
  </div>

  <ion-button expand="block" fill="solid" color="primary" (click)="goToBookPage()">Ir a ver los libros</ion-button>

</ion-content>
